plc_simulator/web_interface/piloto_queima_flow.json
[
  {
    "id": "tab_simulacao",
    "type": "tab",
    "label": "Simulação Queima Piloto",
    "disabled": false,
    "info": ""
  },
  {
    "id": "tab_dashboard",
    "type": "tab",
    "label": "Dashboard",
    "disabled": false,
    "info": ""
  },

  {
    "id": "group_controle",
    "type": "ui_group",
    "name": "Controle da Sequência",
    "tab": "ui_tab_piloto",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group_status",
    "type": "ui_group",
    "name": "Status das Saídas",
    "tab": "ui_tab_piloto",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group_sensores",
    "type": "ui_group",
    "name": "Sensores / Entradas",
    "tab": "ui_tab_piloto",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group_analogicos",
    "type": "ui_group",
    "name": "Analógicos",
    "tab": "ui_tab_piloto",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "group_alarmes",
    "type": "ui_group",
    "name": "Alarmes e Falhas",
    "tab": "ui_tab_piloto",
    "order": 5,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_piloto",
    "type": "ui_tab",
    "name": "Queima Piloto",
    "icon": "fire",
    "order": 1,
    "disabled": false,
    "hidden": false
  },

  {
    "id": "context_init",
    "type": "inject",
    "z": "tab_simulacao",
    "name": "Inicializa Contexto",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.5,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 150,
    "y": 40,
    "wires": [["init_context_fn"]]
  },
  {
    "id": "init_context_fn",
    "type": "function",
    "z": "tab_simulacao",
    "name": "Inicializa todas as TAGs",
    "func": "// ===== INICIALIZA TODAS AS TAGS DO CLP =====\nvar tags = {\n  // BOOLS - Entradas (i)\n  iSV_GLP_Closed: false,\n  iSV_GLP_Opened: false,\n  iZS_Queimador_Piloto: false,\n  iZS_Queimador_Principal: false,\n  iZS_Emerg: false,\n  iZS_Soprador: false,\n  iSV_01_Closed: true,\n  iSV_01_Opened: false,\n  iSV_02_Closed: true,\n  iSV_02_Opened: false,\n  iCx_Vento_Closed: true,\n  iCx_Vento_Opened: false,\n  iPiloto_Pronto: false,\n  iDefeito_Bool: false,\n  iReserva_Bool: false,\n  iFimDeCurso_Posicao: false,\n\n  // BOOLS - Saídas (o)\n  oAciona_Ignicao: false,\n  oAciona_Soprador: false,\n  oPiloto_Acesso: false,\n  oGLP_Piloto_Abrir: false,\n  oGLP_Principal_Abrir: false,\n  oGLP_Fechada: false,\n  oSV_01_Abrir: false,\n  oSV_01_Fechar: true,\n  oSV_02_Abrir: false,\n  oSV_02_Fechar: true,\n  oCx_Vento_Out: false,\n  oReset_Rele: false,\n\n  // BOOLS - Internos\n  Inicio_HMI: false,\n  Reset_IHM: false,\n  Teste_IHM: false,\n  Inicia_Queima: false,\n  Final_Queima: false,\n  Descendo: false,\n  Subindo: false,\n  Hab_Descendo: false,\n  EMERGENCIA_ALARME1: false,\n  Reset_Seq: false,\n  trava_supervi: false,\n  Teste_Iniciado: false,\n  SV_01_DuasSaidas: false,\n  SV_02_DuasSaidas: false,\n  Selo_TempoSinterizacao: false,\n  AUX_A_SV_02: false,\n  AUX_F_SV_02: false,\n  teste: false,\n\n  // REAIS - Analógicos\n  iTIT_01_Refratario_PV: 25.0,\n  iTIT_02_Ignicao_PV: 25.0,\n  iTIT_03_Cx_Vento_PV: 25.0,\n  iFIT_01_GLP_PV: 0.0,\n  iFIT_01_GLP_Val: 0.0,\n  iFIT_02_Ar_PV: 0.0,\n  iPIT_01_GLP_PV: 0.0,\n  iPIT_02_Gases_PV: 0.0,\n  oReserva_Real: 0.0,\n  iReserva_Real: 0.0,\n  Temp_CxVento_Max: 900.0,\n  Min_TempoResfriamento: 60.0,\n  Min_TempoSinterizacao: 120.0,\n  Parcial_TempoSinterizacao: 0.0,\n\n  // Estado da sequência\n  estado: 'IDLE',\n  step: 0,\n  timer_acc: 0,\n  log: []\n};\n\nflow.set('tags', tags);\nnode.status({fill:'green', shape:'ring', text:'Tags inicializadas'});\nreturn {payload: 'inicializado'};\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 40,
    "wires": [[]]
  },

  {
    "id": "timer_loop",
    "type": "inject",
    "z": "tab_simulacao",
    "name": "Loop 1s",
    "props": [{"p": "payload"}],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 2,
    "topic": "",
    "payload": "tick",
    "payloadType": "str",
    "x": 150,
    "y": 120,
    "wires": [["sequencia_fn"]]
  },
  {
    "id": "sequencia_fn",
    "type": "function",
    "z": "tab_simulacao",
    "name": "Máquina de Estados - Queima Piloto",
    "func": "var tags = flow.get('tags') || {};\nvar msgs = [];\n\nfunction log(msg) {\n  var now = new Date().toLocaleTimeString('pt-BR');\n  tags.log = tags.log || [];\n  tags.log.unshift('[' + now + '] ' + msg);\n  if (tags.log.length > 20) tags.log.pop();\n}\n\n// ===== MÁQUINA DE ESTADOS =====\nswitch(tags.estado) {\n\n  case 'IDLE':\n    if (tags.Inicio_HMI || tags.Inicia_Queima) {\n      // Verifica permissivos básicos\n      if (tags.iDefeito_Bool) {\n        log('FALHA: Defeito ativo - sequência bloqueada');\n        tags.EMERGENCIA_ALARME1 = true;\n        break;\n      }\n      if (!tags.iSV_01_Closed) {\n        log('AVISO: SV-01 não confirmada fechada');\n      }\n      tags.estado = 'PRE_PURGA';\n      tags.step = 0;\n      tags.timer_acc = 0;\n      log('INÍCIO: Iniciando sequência de queima piloto');\n    }\n    break;\n\n  case 'PRE_PURGA':\n    // Passo 1: Abre caixa de vento / soprador\n    if (tags.step === 0) {\n      tags.oAciona_Soprador = true;\n      tags.oCx_Vento_Out = true;\n      tags.oSV_01_Abrir = false;\n      tags.oSV_01_Fechar = true;\n      tags.oSV_02_Abrir = false;\n      tags.oSV_02_Fechar = true;\n      log('PURGA: Acionando soprador e abrindo caixa de vento...');\n      tags.step = 1;\n      tags.timer_acc = 0;\n    }\n    // Simula feedback da caixa de vento após 3s\n    if (tags.step === 1) {\n      tags.timer_acc++;\n      if (tags.timer_acc >= 3) {\n        tags.iCx_Vento_Opened = true;\n        tags.iCx_Vento_Closed = false;\n        tags.iZS_Soprador = true;\n        log('PURGA: Soprador ligado - caixa de vento ABERTA');\n        tags.step = 2;\n        tags.timer_acc = 0;\n      }\n    }\n    // Aguarda tempo de purga (15s)\n    if (tags.step === 2) {\n      tags.timer_acc++;\n      log('PURGA: Tempo de purga ' + tags.timer_acc + '/15s');\n      if (tags.timer_acc >= 15) {\n        tags.estado = 'ABRE_SV_GLP';\n        tags.step = 0;\n        tags.timer_acc = 0;\n        log('PURGA: Concluída - avançando para abertura GLP');\n      }\n    }\n    break;\n\n  case 'ABRE_SV_GLP':\n    if (tags.step === 0) {\n      // Abre válvula geral GLP\n      tags.oGLP_Fechada = false;\n      log('GLP: Abrindo válvula geral GLP...');\n      tags.step = 1;\n      tags.timer_acc = 0;\n    }\n    if (tags.step === 1) {\n      tags.timer_acc++;\n      if (tags.timer_acc >= 2) {\n        tags.iSV_GLP_Opened = true;\n        tags.iSV_GLP_Closed = false;\n        log('GLP: Válvula geral GLP ABERTA - pressão disponível');\n        // Simula pressão GLP\n        tags.iPIT_01_GLP_PV = 1.5 + Math.random() * 0.3;\n        tags.estado = 'ABRE_SV_PILOTO';\n        tags.step = 0;\n        tags.timer_acc = 0;\n      }\n    }\n    break;\n\n  case 'ABRE_SV_PILOTO':\n    if (tags.step === 0) {\n      // Abre SV-01 (piloto)\n      tags.oSV_01_Abrir = true;\n      tags.oSV_01_Fechar = false;\n      tags.oGLP_Piloto_Abrir = true;\n      log('SV-01: Abrindo válvula solenóide piloto...');\n      tags.step = 1;\n      tags.timer_acc = 0;\n    }\n    if (tags.step === 1) {\n      tags.timer_acc++;\n      if (tags.timer_acc >= 2) {\n        tags.iSV_01_Opened = true;\n        tags.iSV_01_Closed = false;\n        tags.SV_01_DuasSaidas = true;\n        tags.iFIT_01_GLP_PV = 5.0 + Math.random() * 1.0;\n        log('SV-01: ABERTA - fluxo GLP piloto: ' + tags.iFIT_01_GLP_PV.toFixed(1) + ' Nm³/h');\n        tags.estado = 'IGNICAO';\n        tags.step = 0;\n        tags.timer_acc = 0;\n      }\n    }\n    break;\n\n  case 'IGNICAO':\n    if (tags.step === 0) {\n      tags.oAciona_Ignicao = true;\n      tags.oPiloto_Acesso = true;\n      log('IGNIÇÃO: Ativando transformador de ignição...');\n      tags.step = 1;\n      tags.timer_acc = 0;\n    }\n    if (tags.step === 1) {\n      tags.timer_acc++;\n      // Tenta ignição - confirma chama após 3s\n      if (tags.timer_acc >= 3) {\n        // Simula sucesso de ignição (95% de chance)\n        if (Math.random() > 0.05) {\n          tags.iZS_Queimador_Piloto = true;\n          tags.iTIT_02_Ignicao_PV = 120.0 + Math.random() * 30;\n          tags.oAciona_Ignicao = false; // Desliga ignitor\n          log('IGNIÇÃO: ✓ CHAMA PILOTO CONFIRMADA - Temp ignição: ' + tags.iTIT_02_Ignicao_PV.toFixed(0) + '°C');\n          tags.estado = 'PILOTO_ESTAVEL';\n          tags.step = 0;\n          tags.timer_acc = 0;\n        } else {\n          tags.oAciona_Ignicao = false;\n          tags.oSV_01_Abrir = false;\n          tags.oSV_01_Fechar = true;\n          tags.oGLP_Piloto_Abrir = false;\n          log('IGNIÇÃO: ✗ FALHA - Sem confirmação de chama. Emergência!');\n          tags.EMERGENCIA_ALARME1 = true;\n          tags.estado = 'FALHA';\n        }\n      }\n    }\n    break;\n\n  case 'PILOTO_ESTAVEL':\n    // Aquece o refratário com piloto\n    tags.timer_acc++;\n    tags.iTIT_01_Refratario_PV = Math.min(\n      tags.iTIT_01_Refratario_PV + (2 + Math.random()),\n      350\n    );\n    tags.iTIT_02_Ignicao_PV = 150 + Math.random() * 20;\n    if (tags.timer_acc % 5 === 0) {\n      log('PILOTO: Estável - Refratário: ' + tags.iTIT_01_Refratario_PV.toFixed(0) + '°C');\n    }\n    // Quando refratário atinge 300°C, abre queimador principal\n    if (tags.iTIT_01_Refratario_PV >= 300 || tags.Teste_IHM) {\n      log('PILOTO: Refratário pronto - abrindo queimador principal...');\n      tags.estado = 'ABRE_PRINCIPAL';\n      tags.step = 0;\n      tags.timer_acc = 0;\n    }\n    break;\n\n  case 'ABRE_PRINCIPAL':\n    if (tags.step === 0) {\n      tags.oSV_02_Abrir = true;\n      tags.oSV_02_Fechar = false;\n      tags.oGLP_Principal_Abrir = true;\n      log('PRINCIPAL: Abrindo SV-02 queimador principal...');\n      tags.step = 1;\n      tags.timer_acc = 0;\n    }\n    if (tags.step === 1) {\n      tags.timer_acc++;\n      if (tags.timer_acc >= 2) {\n        tags.iSV_02_Opened = true;\n        tags.iSV_02_Closed = false;\n        tags.SV_02_DuasSaidas = true;\n        tags.AUX_A_SV_02 = true;\n        tags.iFIT_02_Ar_PV = 25.0 + Math.random() * 5;\n        log('PRINCIPAL: SV-02 ABERTA - queima principal ativa');\n        tags.iZS_Queimador_Principal = true;\n        tags.Inicia_Queima = true;\n        tags.estado = 'QUEIMA_PLENA';\n        tags.step = 0;\n        tags.timer_acc = 0;\n        tags.Parcial_TempoSinterizacao = 0;\n      }\n    }\n    break;\n\n  case 'QUEIMA_PLENA':\n    tags.timer_acc++;\n    tags.Parcial_TempoSinterizacao++;\n    // Simula comportamento dos analógicos durante queima\n    tags.iTIT_01_Refratario_PV = Math.min(tags.iTIT_01_Refratario_PV + (1 + Math.random()*2), 950);\n    tags.iTIT_03_Cx_Vento_PV = Math.min(100 + tags.timer_acc * 3 + Math.random()*10, 850);\n    tags.iFIT_01_GLP_PV = 8.0 + Math.random() * 2;\n    tags.iFIT_02_Ar_PV = 28.0 + Math.random() * 4;\n    tags.iPIT_01_GLP_PV = 1.4 + Math.random() * 0.2;\n    tags.iPIT_02_Gases_PV = 0.5 + Math.random() * 0.2;\n    if (tags.timer_acc % 10 === 0) {\n      log('QUEIMA PLENA: Refratário ' + tags.iTIT_01_Refratario_PV.toFixed(0) + '°C | CxVento ' + tags.iTIT_03_Cx_Vento_PV.toFixed(0) + '°C | Tempo: ' + tags.Parcial_TempoSinterizacao + 's');\n    }\n    // Verifica alarme temperatura caixa de vento\n    if (tags.iTIT_03_Cx_Vento_PV > tags.Temp_CxVento_Max) {\n      log('ALARME: Temperatura caixa de vento excedida!');\n      tags.EMERGENCIA_ALARME1 = true;\n    }\n    // Verifica fim de queima\n    if (tags.Final_Queima || tags.Parcial_TempoSinterizacao >= tags.Min_TempoSinterizacao) {\n      log('QUEIMA: Tempo atingido - iniciando desligamento...');\n      tags.Selo_TempoSinterizacao = true;\n      tags.estado = 'DESLIGAMENTO';\n      tags.step = 0;\n      tags.timer_acc = 0;\n    }\n    break;\n\n  case 'DESLIGAMENTO':\n    if (tags.step === 0) {\n      // Fecha queimador principal primeiro\n      tags.oSV_02_Abrir = false;\n      tags.oSV_02_Fechar = true;\n      tags.oGLP_Principal_Abrir = false;\n      tags.AUX_F_SV_02 = true;\n      log('DESLIGAMENTO: Fechando queimador principal SV-02...');\n      tags.step = 1;\n      tags.timer_acc = 0;\n    }\n    if (tags.step === 1) {\n      tags.timer_acc++;\n      if (tags.timer_acc >= 2) {\n        tags.iSV_02_Opened = false;\n        tags.iSV_02_Closed = true;\n        tags.iZS_Queimador_Principal = false;\n        log('DESLIGAMENTO: SV-02 fechada - desligando piloto...');\n        tags.step = 2;\n        tags.timer_acc = 0;\n      }\n    }\n    if (tags.step === 2) {\n      tags.timer_acc++;\n      if (tags.timer_acc >= 3) {\n        // Fecha piloto\n        tags.oSV_01_Abrir = false;\n        tags.oSV_01_Fechar = true;\n        tags.oGLP_Piloto_Abrir = false;\n        tags.oAciona_Ignicao = false;\n        tags.step = 3;\n        tags.timer_acc = 0;\n        log('DESLIGAMENTO: Piloto desligado - fechando GLP geral...');\n      }\n    }\n    if (tags.step === 3) {\n      tags.timer_acc++;\n      if (tags.timer_acc >= 2) {\n        tags.iSV_01_Opened = false;\n        tags.iSV_01_Closed = true;\n        tags.iSV_GLP_Opened = false;\n        tags.iSV_GLP_Closed = true;\n        tags.oGLP_Fechada = true;\n        tags.iZS_Queimador_Piloto = false;\n        log('DESLIGAMENTO: GLP geral fechado - iniciando resfriamento...');\n        tags.estado = 'RESFRIAMENTO';\n        tags.step = 0;\n        tags.timer_acc = 0;\n      }\n    }\n    break;\n\n  case 'RESFRIAMENTO':\n    tags.timer_acc++;\n    // Mantém soprador por tempo de resfriamento\n    tags.iTIT_01_Refratario_PV = Math.max(tags.iTIT_01_Refratario_PV - (3 + Math.random()*2), 25);\n    tags.iTIT_03_Cx_Vento_PV = Math.max(tags.iTIT_03_Cx_Vento_PV - (5 + Math.random()*3), 25);\n    if (tags.timer_acc % 5 === 0) {\n      log('RESFRIAMENTO: ' + tags.timer_acc + 's | Refratário: ' + tags.iTIT_01_Refratario_PV.toFixed(0) + '°C');\n    }\n    if (tags.timer_acc >= tags.Min_TempoResfriamento) {\n      tags.oAciona_Soprador = false;\n      tags.oCx_Vento_Out = false;\n      tags.iCx_Vento_Closed = true;\n      tags.iCx_Vento_Opened = false;\n      tags.iZS_Soprador = false;\n      tags.iFIT_01_GLP_PV = 0;\n      tags.iFIT_02_Ar_PV = 0;\n      tags.iPIT_01_GLP_PV = 0;\n      tags.iPIT_02_Gases_PV = 0;\n      tags.Inicia_Queima = false;\n      tags.Final_Queima = false;\n      tags.Inicio_HMI = false;\n      log('RESFRIAMENTO: Concluído - Sistema PRONTO');\n      tags.estado = 'IDLE';\n      tags.step = 0;\n      tags.timer_acc = 0;\n    }\n    break;\n\n  case 'FALHA':\n    // Em falha, aguarda reset\n    tags.oAciona_Ignicao = false;\n    if (tags.Reset_IHM || tags.Reset_Seq) {\n      log('RESET: Falha reconhecida - retornando ao IDLE');\n      tags.EMERGENCIA_ALARME1 = false;\n      tags.iDefeito_Bool = false;\n      tags.oSV_01_Abrir = false; tags.oSV_01_Fechar = true;\n      tags.oSV_02_Abrir = false; tags.oSV_02_Fechar = true;\n      tags.oGLP_Piloto_Abrir = false;\n      tags.oGLP_Principal_Abrir = false;\n      tags.iZS_Queimador_Piloto = false;\n      tags.iZS_Queimador_Principal = false;\n      tags.oAciona_Soprador = false;\n      tags.Inicio_HMI = false;\n      tags.Inicia_Queima = false;\n      tags.Reset_IHM = false;\n      tags.Reset_Seq = false;\n      tags.estado = 'IDLE';\n      tags.step = 0;\n      tags.timer_acc = 0;\n    }\n    break;\n}\n\nflow.set('tags', tags);\n\n// Envia para os nós de saída\nreturn [{payload: tags}];\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 120,
    "wires": [["distribuidor_fn"]]
  },

  {
    "id": "distribuidor_fn",
    "type": "function",
    "z": "tab_simulacao",
    "name": "Distribui mensagens UI",
    "func": "var tags = msg.payload;\n\n// Estado da máquina\nvar corEstado = 'grey';\nif (tags.estado === 'IDLE') corEstado = 'blue';\nelse if (tags.estado === 'FALHA') corEstado = 'red';\nelse if (tags.estado === 'QUEIMA_PLENA') corEstado = 'orange';\nelse if (tags.estado === 'PILOTO_ESTAVEL') corEstado = 'yellow';\nelse if (tags.estado === 'RESFRIAMENTO') corEstado = 'cyan';\nelse corEstado = 'green';\n\nvar msg1 = {payload: tags.estado, topic: 'estado'};\nvar msg2 = {payload: tags.iTIT_01_Refratario_PV, topic: 'tit01'};\nvar msg3 = {payload: tags.iTIT_02_Ignicao_PV, topic: 'tit02'};\nvar msg4 = {payload: tags.iTIT_03_Cx_Vento_PV, topic: 'tit03'};\nvar msg5 = {payload: tags.iFIT_01_GLP_PV, topic: 'fit01'};\nvar msg6 = {payload: tags.iFIT_02_Ar_PV, topic: 'fit02'};\nvar msg7 = {payload: tags.iPIT_01_GLP_PV, topic: 'pit01'};\nvar msg8 = {payload: tags.iPIT_02_Gases_PV, topic: 'pit02'};\nvar msg9 = {payload: tags.log.join('\\n'), topic: 'log'};\nvar msg10 = {payload: tags.EMERGENCIA_ALARME1, topic: 'alarme'};\nvar msg11 = {payload: tags, topic: 'all'};\nvar msg12 = {payload: tags.iZS_Queimador_Piloto ? '🔥 CHAMA PILOTO ON' : '⭕ CHAMA PILOTO OFF', topic:'chama_piloto'};\nvar msg13 = {payload: tags.iZS_Queimador_Principal ? '🔥 PRINCIPAL ON' : '⭕ PRINCIPAL OFF', topic:'chama_principal'};\nvar msg14 = {payload: tags.Parcial_TempoSinterizacao, topic:'tempo_sint'};\n\nreturn [[msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13, msg14]];\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 120,
    "wires": [["switch_topics"]]
  },

  {
    "id": "switch_topics",
    "type": "switch",
    "z": "tab_simulacao",
    "name": "Roteia por topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {"t":"eq","v":"estado","vt":"str"},
      {"t":"eq","v":"tit01","vt":"str"},
      {"t":"eq","v":"tit02","vt":"str"},
      {"t":"eq","v":"tit03","vt":"str"},
      {"t":"eq","v":"fit01","vt":"str"},
      {"t":"eq","v":"fit02","vt":"str"},
      {"t":"eq","v":"pit01","vt":"str"},
      {"t":"eq","v":"pit02","vt":"str"},
      {"t":"eq","v":"log","vt":"str"},
      {"t":"eq","v":"alarme","vt":"str"},
      {"t":"eq","v":"chama_piloto","vt":"str"},
      {"t":"eq","v":"chama_principal","vt":"str"},
      {"t":"eq","v":"tempo_sint","vt":"str"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 13,
    "x": 950,
    "y": 120,
    "wires": [
      ["ui_estado_text"],
      ["ui_tit01_gauge"],
      ["ui_tit02_gauge"],
      ["ui_tit03_gauge"],
      ["ui_fit01_chart","ui_fit01_gauge"],
      ["ui_fit02_gauge"],
      ["ui_pit01_gauge"],
      ["ui_pit02_gauge"],
      ["ui_log_text"],
      ["ui_alarme_led"],
      ["ui_chama_piloto"],
      ["ui_chama_principal"],
      ["ui_tempo_sint"]
    ]
  },

  {
    "id": "ui_estado_text",
    "type": "ui_text",
    "z": "tab_simulacao",
    "group": "group_controle",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Estado Atual",
    "label": "Estado da Sequência:",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 1250,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui_chama_piloto",
    "type": "ui_text",
    "z": "tab_simulacao",
    "group": "group_status",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Chama Piloto",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 1250,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui_chama_principal",
    "type": "ui_text",
    "z": "tab_simulacao",
    "group": "group_status",
    "order": 2,
    "width": "6",
    "height": "1",
    "name": "Chama Principal",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 1250,
    "y": 120,
    "wires": []
  },

  {
    "id": "ui_tit01_gauge",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "TIT-01 Refratário",
    "group": "group_analogicos",
    "order": 1,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "TIT-01 Refratário",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1000",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "500",
    "seg2": "800",
    "x": 1250,
    "y": 200,
    "wires": []
  },
  {
    "id": "ui_tit02_gauge",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "TIT-02 Ignição",
    "group": "group_analogicos",
    "order": 2,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "TIT-02 Ignição",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "400",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "100",
    "seg2": "300",
    "x": 1250,
    "y": 240,
    "wires": []
  },
  {
    "id": "ui_tit03_gauge",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "TIT-03 Cx Vento",
    "group": "group_analogicos",
    "order": 3,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "TIT-03 Cx Vento",
    "label": "°C",
    "format": "{{value}}",
    "min": "0",
    "max": "1000",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "600",
    "seg2": "850",
    "x": 1250,
    "y": 280,
    "wires": []
  },
  {
    "id": "ui_fit01_gauge",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "FIT-01 GLP",
    "group": "group_analogicos",
    "order": 4,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "FIT-01 GLP",
    "label": "Nm³/h",
    "format": "{{value}}",
    "min": "0",
    "max": "15",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "8",
    "seg2": "12",
    "x": 1250,
    "y": 320,
    "wires": []
  },
  {
    "id": "ui_fit02_gauge",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "FIT-02 Ar",
    "group": "group_analogicos",
    "order": 5,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "FIT-02 Ar",
    "label": "Nm³/h",
    "format": "{{value}}",
    "min": "0",
    "max": "50",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "20",
    "seg2": "40",
    "x": 1250,
    "y": 360,
    "wires": []
  },
  {
    "id": "ui_pit01_gauge",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "PIT-01 GLP",
    "group": "group_analogicos",
    "order": 6,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "PIT-01 GLP",
    "label": "bar",
    "format": "{{value}}",
    "min": "0",
    "max": "5",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "2",
    "seg2": "4",
    "x": 1250,
    "y": 400,
    "wires": []
  },
  {
    "id": "ui_pit02_gauge",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "PIT-02 Gases",
    "group": "group_analogicos",
    "order": 7,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "PIT-02 Gases",
    "label": "bar",
    "format": "{{value}}",
    "min": "0",
    "max": "2",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "0.8",
    "seg2": "1.5",
    "x": 1250,
    "y": 440,
    "wires": []
  },
  {
    "id": "ui_fit01_chart",
    "type": "ui_chart",
    "z": "tab_simulacao",
    "name": "Gráfico FIT-01 GLP",
    "group": "group_analogicos",
    "order": 8,
    "width": "12",
    "height": "4",
    "label": "Fluxo GLP (Nm³/h)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "dot": false,
    "ymin": "0",
    "ymax": "15",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4","#aec7e8","#ffbb78"],
    "useOldData": true,
    "x": 1250,
    "y": 480,
    "wires": []
  },

  {
    "id": "ui_tempo_sint",
    "type": "ui_gauge",
    "z": "tab_simulacao",
    "name": "Tempo Sinterização",
    "group": "group_controle",
    "order": 3,
    "width": "6",
    "height": "3",
    "gtype": "donut",
    "title": "Tempo Sinterização",
    "label": "s",
    "format": "{{value}}",
    "min": "0",
    "max": "120",
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "60",
    "seg2": "100",
    "x": 1260,
    "y": 520,
    "wires": []
  },

  {
    "id": "ui_log_text",
    "type": "ui_text",
    "z": "tab_simulacao",
    "group": "group_controle",
    "order": 10,
    "width": "12",
    "height": "6",
    "name": "Log Sequência",
    "label": "Log da Sequência:",
    "format": "<pre style='font-size:11px;color:#0f0;background:#111;padding:8px;border-radius:4px;white-space:pre-wrap'>{{msg.payload}}</pre>",
    "layout": "col-center",
    "x": 1250,
    "y": 560,
    "wires": []
  },
  {
    "id": "ui_alarme_led",
    "type": "ui_led",
    "z": "tab_simulacao",
    "group": "group_alarmes",
    "order": 1,
    "width": "3",
    "height": "1",
    "label": "EMERGÊNCIA / ALARME",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {"color":"#00b500","value":"false","valueType":"bool"},
      {"color":"#ff0000","value":"true","valueType":"bool"}
    ],
    "allowColorForValueInMessage": false,
    "name": "LED Alarme",
    "x": 1250,
    "y": 600,
    "wires": []
  },

  {
    "id": "btn_iniciar",
    "type": "ui_button",
    "z": "tab_simulacao",
    "name": "Botão Iniciar",
    "group": "group_controle",
    "order": 2,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "▶ INICIAR QUEIMA",
    "tooltip": "",
    "color": "white",
    "bgcolor": "green",
    "className": "",
    "icon": "",
    "payload": "iniciar",
    "payloadType": "str",
    "topic": "cmd",
    "topicType": "str",
    "x": 150,
    "y": 280,
    "wires": [["cmd_handler_fn"]]
  },
  {
    "id": "btn_finalizar",
    "type": "ui_button",
    "z": "tab_simulacao",
    "name": "Botão Finalizar",
    "group": "group_controle",
    "order": 3,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "⏹ FINALIZAR QUEIMA",
    "tooltip": "",
    "color": "white",
    "bgcolor": "orange",
    "className": "",
    "icon": "",
    "payload": "finalizar",
    "payloadType": "str",
    "topic": "cmd",
    "topicType": "str",
    "x": 150,
    "y": 320,
    "wires": [["cmd_handler_fn"]]
  },
  {
    "id": "btn_reset",
    "type": "ui_button",
    "z": "tab_simulacao",
    "name": "Botão Reset",
    "group": "group_controle",
    "order": 4,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "🔄 RESET / FALHA",
    "tooltip": "",
    "color": "white",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "reset",
    "payloadType": "str",
    "topic": "cmd",
    "topicType": "str",
    "x": 150,
    "y": 360,
    "wires": [["cmd_handler_fn"]]
  },
  {
    "id": "btn_emergencia",
    "type": "ui_button",
    "z": "tab_simulacao",
    "name": "Botão Emergência",
    "group": "group_controle",
    "order": 5,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "🚨 EMERGÊNCIA",
    "tooltip": "",
    "color": "white",
    "bgcolor": "#8B0000",
    "className": "",
    "icon": "",
    "payload": "emergencia",
    "payloadType": "str",
    "topic": "cmd",
    "topicType": "str",
    "x": 160,
    "y": 400,
    "wires": [["cmd_handler_fn"]]
  },
  {
    "id": "btn_teste_piloto",
    "type": "ui_button",
    "z": "tab_simulacao",
    "name": "Botão Testar Principal",
    "group": "group_controle",
    "order": 6,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "🧪 FORÇAR PRINCIPAL",
    "tooltip": "Pula aquecimento e abre queimador principal",
    "color": "white",
    "bgcolor": "#1565C0",
    "className": "",
    "icon": "",
    "payload": "teste_principal",
    "payloadType": "str",
    "topic": "cmd",
    "topicType": "str",
    "x": 170,
    "y": 440,
    "wires": [["cmd_handler_fn"]]
  },

  {
    "id": "cmd_handler_fn",
    "type": "function",
    "z": "tab_simulacao",
    "name": "Handler de Comandos HMI",
    "func": "var tags = flow.get('tags') || {};\nvar cmd = msg.payload;\n\nswitch(cmd) {\n  case 'iniciar':\n    if (tags.estado === 'IDLE') {\n      tags.Inicio_HMI = true;\n      node.status({fill:'green',shape:'dot',text:'Iniciado'});\n    } else {\n      node.status({fill:'yellow',shape:'ring',text:'Seq. em andamento: '+tags.estado});\n    }\n    break;\n  case 'finalizar':\n    if (tags.estado === 'QUEIMA_PLENA' || tags.estado === 'PILOTO_ESTAVEL') {\n      tags.Final_Queima = true;\n      node.status({fill:'orange',shape:'dot',text:'Finalizando...'});\n    }\n    break;\n  case 'reset':\n    tags.Reset_IHM = true;\n    tags.Reset_Seq = true;\n    node.status({fill:'blue',shape:'dot',text:'Reset enviado'});\n    break;\n  case 'emergencia':\n    tags.EMERGENCIA_ALARME1 = true;\n    tags.iDefeito_Bool = true;\n    tags.iZS_Emerg = true;\n    tags.oSV_01_Abrir = false; tags.oSV_01_Fechar = true;\n    tags.oSV_02_Abrir = false; tags.oSV_02_Fechar = true;\n    tags.oGLP_Piloto_Abrir = false;\n    tags.oGLP_Principal_Abrir = false;\n    tags.oAciona_Ignicao = false;\n    tags.estado = 'FALHA';\n    node.status({fill:'red',shape:'dot',text:'EMERGÊNCIA!'});\n    break;\n  case 'teste_principal':\n    if (tags.estado === 'PILOTO_ESTAVEL') {\n      tags.Teste_IHM = true;\n      node.status({fill:'blue',shape:'dot',text:'Forçando principal'});\n    }\n    break;\n}\n\nflow.set('tags', tags);\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 360,
    "wires": [[]]
  },

  {
    "id": "inject_defeito",
    "type": "ui_button",
    "z": "tab_simulacao",
    "name": "Simular Defeito",
    "group": "group_sensores",
    "order": 1,
    "width": "3",
    "height": "1",
    "passthru": false,
    "label": "⚠ Simular Defeito CLP",
    "tooltip": "",
    "color": "white",
    "bgcolor": "#795548",
    "className": "",
    "icon": "",
    "payload": "defeito",
    "payloadType": "str",
    "topic": "cmd",
    "topicType": "str",
    "x": 160,
    "y": 500,
    "wires": [["sim_defeito_fn"]]
  },
  {
    "id": "sim_defeito_fn",
    "type": "function",
    "z": "tab_simulacao",
    "name": "Simula Defeito",
    "func": "var tags = flow.get('tags') || {};\ntags.iDefeito_Bool = true;\ntags.EMERGENCIA_ALARME1 = true;\nflow.set('tags', tags);\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 500,
    "wires": [[]]
  },

  {
    "id": "debug_tags",
    "type": "debug",
    "z": "tab_simulacao",
    "name": "Debug Tags (completo)",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 960,
    "y": 200,
    "wires": []
  }
]
